In [1]:
"""
This script builds on P:\GBCBA\HandT\CQ\Projects\5227104-NorMITs Demand 2024-ADDY4067\40 Technical\02 TourModel\Develop Tour Model\Rail Coverage Analysis\01_processing\ProcessMatrix\JoinMatrixToGeography_v0.2.ipynb
It is designed to ultimately obtain a furnessed version of the rail output matrix based on the rail ticketing data proportions
Versioning to be handled by Git
"""

<>:1: SyntaxWarning: invalid escape sequence '\G'
<>:1: SyntaxWarning: invalid escape sequence '\G'
C:\Users\Jimny\AppData\Local\Temp\ipykernel_9024\256370786.py:1: SyntaxWarning: invalid escape sequence '\G'
  """

'\nThis script builds on P:\\GBCBA\\HandT\\CQ\\ProjectsÅ’7104-NorMITs Demand 2024-ADDY4067  Technical\x02 TourModel\\Develop Tour Model\\Rail Coverage Analysis\x01_processing\\ProcessMatrix\\JoinMatrixToGeography_v0.2.ipynb\nIt is designed to ultimately obtain a furnessed version of the rail output matrix based on the rail ticketing data proportions\nVersioning to be handled by Git\n'

## Imports

In [2]:
# Existing packages
import pandas as pd
import os
import numpy as np
from datetime import datetime

# TfN packages
from caf.distribute import furness

## Import data in files

In [3]:
# Set model version
model_ver = 'v3'

# Set directories
inputs_dir = r'I:\NTS\imports\tour_adjust_imports'
msoa_dir = r'I:\NTS\imports'
tour_model_dir = r'I:\NTS\outputs\tour\reports'

# Set file names
odm_file = 'ODM_for_rdm_2022-23.csv'
msoa_county_file = 'msoa11cd_correspondence.csv'
stn_geo_file = 'station_attributes_on_TfN_geography.csv'
sector_file = 'bespoke_sectors_v1.1.csv'
lrtu_file = 'lrt0101.csv'
model_file = 'matrix_county_output.csv'

# Import data
odm_in_df = pd.read_csv(os.path.join(inputs_dir, odm_file))
msoa_county_in_df = pd.read_csv(os.path.join(msoa_dir, msoa_county_file))
stn_geo_in_df = pd.read_csv(os.path.join(inputs_dir, stn_geo_file))
sector_in_df = pd.read_csv(os.path.join(inputs_dir, sector_file))
lrtu_in_df = pd.read_csv(os.path.join(inputs_dir, lrtu_file), skiprows=7)
lrtu_in_df.columns = lrtu_in_df.columns.str.split('[').str[0].str.strip() # Some processing required here to make column names tidier
model_in_df = pd.read_csv(os.path.join(tour_model_dir, model_ver, model_file))

C:\Users\Jimny\AppData\Local\Temp\ipykernel_9024\1672617355.py:18: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  odm_in_df = pd.read_csv(os.path.join(inputs_dir, odm_file))

## Other inputs
Some manual inputs that set values later in the process

In [4]:
# Set light rail inputs
# Year for which to extract the Light Rail, Tramway and Underground data
lrtu_year_in = 2023
# Proportion of trips on the London Underground, London Trams and Docklands
# Light Railway that are considered to be "unique" (i.e. not double counted
# with another rail mode)
lrtu_london_scale_in = 0.25
# Proportion of trips on Light Rail, Tramway and Underground systems outside of
# London that are considered to be "unique" (i.e. not double counted with
# another rail mode)
lrtu_nonlondon_scale_in = 0.5

# For each Light Rail, Tramway or Underground system in GB,
# set the sector in which it is located.
# Done at sector level as some of these systems cross county borders
lrtu_systems_in = {
    'Docklands Light Railway': 'London',
    'London Trams': 'London',
    'Nottingham Express Transit': 'East Midlands North',
    'West Midlands Metro': 'West Midlands South',
    'Sheffield Supertram': 'South Yorkshire',
    'Tyne and Wear Metro': 'Tyne and Wear',
    'Manchester Metrolink': 'Greater Manchester',
    'Blackpool Tramway': 'Lancashire',
    'Edinburgh Trams': 'Scotland',
    'London Underground': 'London',
    'Glasgow Subway': 'Scotland'
}

# Set counties for stations that are located outside of the MSOA shapefile,
# so get missed off the correspondence. This is a table here in case the station
# shapefile is updated to add new stations

# Need to account for:
#  - Blackfriars (5112) - Bad join in the GIS as it's in the middle of the Thames
#  - Portsmouth Harbour (5540) - Bad join in the GIS as it's in the harbour
#  - Ryde Pier Head (5541) - Bad join as in the GIS as it's in the sea

# Counties to allocate stations to:
#  - Blackfriars -> Inner London (County 17)
#  - Portsmouth Harbour -> Hampshire (County 35)
#  - Ryde Pier Head -> Hampshire (County 35)

stn_county_infill_df = pd.DataFrame(
    columns=['National Location Code', 'county', 'county_nm'],
    data=[[5112, 17, 'Inner London'],
          [5540, 35, 'Hampshire'],
          [5541, 35, 'Hampshire']]
    )

## Functions to process rail ticketing/journey data

In [6]:
def process_lrtu_data(
    lrtu_df, lrtu_year, lrtu_systems, lrtu_london_scale, lrtu_nonlondon_scale):
    """
    Process light rail, tramway and underground data to get an annual journey
    count (for "unique", i.e. not double counted with another rail mode) by
    sector
    
    Parameters
    ----------
    lrtu_df: pandas df
        Light Rail, Tramway and Underground annual journey data by system as
        read in by this script
    lrtu_year: int
        Year for which to extract the Light Rail, Tramway and Underground data
        It is the year in which the finacial year ends
        It should match the year for which the national rail odm is downloaded
    lrtu_systems: dict
        Dictionary relating each Light Rail, Tramway or Underground system in
        GB to the sector in which it is located
    lrtu_london_scale: float
        Expected range 0.0 to 1.0
        Proportion of trips on the London Underground, London Trams and
        Docklands Light Railway that are considered to be "unique" (i.e. not
        double counted with another rail mode)
    lrtu_nonlondon_scale: float
        Expected range 0.0 to 1.0
        Proportion of trips on Light Rail, Tramway and Underground systems
        outside of London that are considered to be "unique" (i.e. not double
        counted with another rail mode)
    
    Returns
    ----------
    lrtu_df: pandas df
        For the selected year, the estimate of the number of "unique" (i.e. not
        double counted with another rail mode) journeys by Light Rail, Tramway
        and Underground for the sectors in which such systems are located.
        This is an annual total
    """
    
    # Basic logic checks on inputs
    yearnow = datetime.now().year
    if (not 2013 < lrtu_year <= yearnow) or (type(lrtu_year) is not int):
        print('WARNING: Unexpected input year for Light Rail, Tramway and Underground data')
        print(f'Expected an interger year between 2014 and {yearnow}')
        print(f'Instead, got {lrtu_year}')
    if not 0 < lrtu_london_scale <= 1:
        print('WARNING: London scaling factor expected to be greater than 0, less the or equal to 1')
        print(f'Instead got London scaling factor of {lrtu_london_scale}')
    if not 0 < lrtu_nonlondon_scale <= 1:
        print('WARNING: Outside London scaling factor expected to be greater than 0, less the or equal to 1')
        print(f'Instead got outside London scaling factor of {lrtu_nonlondon_scale}')
    
    # Process to account for odd formatting of source
    lrtu_df = lrtu_df.dropna(axis=1, how='all')
    lrtu_df = lrtu_df.dropna(axis=0, how='all')
    lrtu_df = lrtu_df.rename(columns={'Financial year ending March': 'Year'})
    lrtu_df['Year'] = lrtu_df['Year'].astype(int)

    # Select data we are interested in and reformat to a system-based index
    lrtu_df = lrtu_df.loc[lrtu_df['Year'] == lrtu_year]
    lrtu_df = lrtu_df.set_index(['Year'])
    lrtu_df = lrtu_df.transpose().reset_index()
    lrtu_df = lrtu_df.rename_axis(None, axis=1)
    lrtu_df = lrtu_df.rename(
        columns={'index': 'System', lrtu_year: 'Yearly Journeys'})

    # Convert yearly journeys to absolutes (and make sure they are numeric!)
    # Note this bit will fall over if you pick a year before all systems
    #   were returning data (i.e. some cells are '[w]')
    lrtu_df['Yearly Journeys'] = lrtu_df['Yearly Journeys'].astype(str)
    lrtu_df['Yearly Journeys'] = lrtu_df['Yearly Journeys'].str.replace(
        ',', '')
    lrtu_df['Yearly Journeys'] = lrtu_df['Yearly Journeys'].astype(float) * 10 # Just clear float to minimise rounding error risk
    lrtu_df['Yearly Journeys'] = lrtu_df['Yearly Journeys'].astype(int)
    lrtu_df['Yearly Journeys'] = lrtu_df['Yearly Journeys'] * 100000 # Not 1 million as we've times by 10 about to get out of float

    # Apply sectors to data
    lrtu_df['Sector'] = lrtu_df['System'].map(lrtu_systems)
    lrtu_df = lrtu_df.dropna(axis=0) # Drop rows where system name is not found (expected to be some total rows like all of GB)
    if lrtu_df.shape[0] != len(lrtu_systems):
        print('WARNING: The systems you have specified sectors for and the systems in the input file do not match!')
    lrtu_df = lrtu_df.groupby(
        ['Sector'])['Yearly Journeys'].sum().reset_index()

    # Apply scaling factors to account for overlap with other rail modes
    # (e.g. national rail, other light rail systems)
    lrtu_df['Yearly Journeys'] = lrtu_df['Yearly Journeys'] * np.where(
        lrtu_df['Sector'] == 'London', lrtu_london_scale, lrtu_nonlondon_scale)
    lrtu_df['Yearly Journeys'] = lrtu_df['Yearly Journeys'].astype(int)
    
    return lrtu_df

In [7]:
def rationalise_inputs(odm_df, msoa_county_df, stn_geo_df):
    """
    Cut input dfs down to just the columns of interest
    
    Parameters
    ----------
    odm_df: pandas df
        Origin-destination matrix for journeys on the national rail network
        between station pairs. Annual data for 1 year
    msoa_county_df: pandas df
        Lookup table to get from MSOA to County
    stn_geo_df: pandas df
        National rail stations with MSOA attached
    
    Returns
    ---------- 
    odm_df: pandas df
        Origin-destination matrix for journeys on the national rail network
        between station pairs. Annual data for 1 year. Columns cut down to just
        those required by other functions
    msoa_county_df: pandas df
        Lookup table to get from MSOA to County. Columns cut down to just those
        required by other functions
    stn_geo_df: pandas df
        National rail stations with MSOA attached. Columns cut down to just
        those required by other functions
    """
    
    # nlc (National Location Code) is a unique numerical code for each station
    odm_df = odm_df[['origin_nlc',
                     'origin_station_name',
                     'destination_nlc',
                     'destination_station_name',
                     'journeys']]
    msoa_county_df = msoa_county_df[['msoa11cd',
                                     'county',
                                     'county_nm']]
    stn_geo_df = stn_geo_df[['National Location Code', 'msoa11cd']]
    
    return odm_df, msoa_county_df, stn_geo_df

In [8]:
def process_station_geography(msoa_county_df, stn_geo_df, stn_infill_df):
    """
    Join each national rail station to the county in which they lie
    
    Parameters
    ----------
    msoa_county_df: pandas df
        Lookup table to get from MSOA to County. Columns cut down to just those
        required by this function
    stn_geo_df: pandas df
        National rail stations with MSOA attached. Columns cut down to just
        those required by this function
    stn_infill_df: pandas df
        Table assigning stations outside of MSOAs to their counties
    
    Returns
    ----------
    stn_geo_df: pandas df
        Table relating all active national rail stations to their county
    """
    
    # Assign counties to stations that are allocated MSOAs by the geospatial
    # processing
    stn_geo_df = stn_geo_df.merge(msoa_county_df, how='left', on='msoa11cd')
    stn_geo_df = stn_geo_df.drop(columns=['msoa11cd'], axis=1)
    
    # Add on the stations that exist outside of the MSOA shapefile
    # Drop rows containing nulls
    if stn_geo_df[stn_geo_df.isnull().any(axis=1)].shape == stn_county_infill_df.shape:
        # We are infilling something the same size as the NULL rows,
        # which we want to do
        # Drop the NULL rows, then append the replacements
        stn_geo_df = stn_geo_df.dropna(how='any', axis=0)
        stn_geo_df = pd.concat([stn_geo_df, stn_county_infill_df])
        stn_geo_df.reset_index(inplace=True, drop=True)
    else:
        print('WARNING: The NULL infilling table you are trying to append is not the same dimensions as the NULL rows in the table')
        print('Operation therefore not attempted and NULL rows are still in place')
    
    # Rename the National Location Code to make it a bit less unweildly
    stn_geo_df = stn_geo_df.rename(columns={'National Location Code': 'nlc'})
    
    return stn_geo_df

In [9]:
def make_sector_rail_odm(process_odm_df, stn_geo_df, sector_df):
    """
    Make the sectorised national rail odm
    
    Parameters
    ----------
    process_odm_df: pandas df
        Origin-destination matrix for journeys on the national rail network
        between station pairs. Annual data for 1 year. Columns cut down to just
        those required by this function
    stn_geo_df: pandas df
        Table relating all active national rail stations to their county
    sector_df: pandas df
        County to sector correspondence
    
    Returns
    ----------
    sector_odm_df: pandas df
        Column matrix of all sector origin-destination movemnets from the
        national rail ticketing data
    county_rows: int
        Row count of county level matrix
    sector_rows: int
        Row count of sector level matrix
    """
    
    # Join geography to ODM
    process_odm_df = process_odm_df.merge(
        stn_geo_df, how='left', left_on='origin_nlc', right_on='nlc')
    process_odm_df = process_odm_df.drop(columns=['nlc'], axis=1)
    process_odm_df = process_odm_df.rename(
        columns={'county': 'origin_county_code',
                 'county_nm': 'origin_county_name'})

    process_odm_df = process_odm_df.merge(
        stn_geo_df, how='left', left_on='destination_nlc', right_on='nlc')
    process_odm_df = process_odm_df.drop(columns=['nlc'], axis=1)
    process_odm_df = process_odm_df.rename(
        columns={'county': 'destination_county_code',
                 'county_nm': 'destination_county_name'})

    # Groupby on county level geographies, summing journeys and dropping the
    # station details
    process_odm_df = process_odm_df.groupby(
        ['origin_county_code',
         'origin_county_name',
         'destination_county_code',
         'destination_county_name']
    )['journeys'].sum().reset_index()

    # Now aggregate to Sector level using the Tour Model Output County to
    # sector correspondence
    sector_df = sector_df[['county', 'Sector_ID', 'Sector']]
    sector_odm_df = process_odm_df.merge(
        sector_df, how='left', left_on='origin_county_name', right_on='county')
    sector_odm_df = sector_odm_df.drop(columns=['county'], axis=1)
    sector_odm_df = sector_odm_df.rename(
        columns={'Sector_ID': 'origin_sector_id',
                 'Sector': 'origin_sector_name'})

    sector_odm_df = sector_odm_df.merge(
        sector_df,
        how='left',
        left_on='destination_county_name',
        right_on='county'
    )
    sector_odm_df = sector_odm_df.drop(columns=['county'], axis=1)
    sector_odm_df = sector_odm_df.rename(
        columns={'Sector_ID': 'destination_sector_id',
                 'Sector': 'destination_sector_name'})

    # Groupby on sector level geographies, summing journeys and dropping the
    # county details
    sector_odm_df = sector_odm_df.groupby(
        ['origin_sector_id',
         'origin_sector_name',
         'destination_sector_id',
         'destination_sector_name']
    )['journeys'].sum().reset_index()
    
    # Calculate row counts for checking
    county_rows = process_odm_df.shape[0]
    sector_rows = sector_odm_df.shape[0]
    
    return sector_odm_df, county_rows, sector_rows

In [10]:
def check_odm_processing(
    county_rows, sector_rows, msoa_county_df, sector_df, sector_odm_df, odm_df):
    """
    Check the odm processing worked correctly
    
    Parameters
    ----------
    county_rows: int
        Row count of county level matrix
    sector_rows: int
        Row count of sector level matrix
    msoa_county_df: pandas df
        Lookup table to get from MSOA to County
    sector_odm_df: pandas df
        Column matrix of all sector origin-destination movemnets from the
        national rail ticketing data
    odm_df: pandas df
        Origin-destination matrix for journeys on the national rail network
        between station pairs. Annual data for 1 year
    
    Returns
    ----------
    None
    """
    
    # Check if we've got all o/d movements at the county level
    # df should have number of counties x number of counties as the row count
    expected_rows = msoa_county_df['county'].nunique() ** 2
    if expected_rows == county_rows:
        print('County table dimensions are as expected')
    else:
        print(f'WARNING: Expected {str(expected_rows)} rows in the county table, got {str(county_rows)} rows')

    # Check if we've got all o/d movements at the sector level
    # df should have number of sectors x number of sectors as the row count
    expected_rows = sector_df['Sector_ID'].nunique() ** 2
    if expected_rows == sector_rows:
        print('Sector table dimensions are as expected')
    else:
        print(f'WARNING: Expected {str(expected_rows)} rows in the sector table, got {str(sector_rows)} rows')

    # Check we've not dropped any journeys
    input_journeys = odm_df['journeys'].sum()
    output_journeys = sector_odm_df['journeys'].sum()
    if input_journeys == output_journeys:
        print(f'The {str(input_journeys)} National Rail journeys input are all accounted for')
    else:
        print(f'WARNING: {str(input_journeys)} were input, but {str(output_journeys)} were output in the sector table!')

In [12]:
def add_lrtu_to_national_rail(
    sector_odm_hlr_df, lrtu_df):
    """
    Add Light Rail, Tramway and Underground trips to intrasector cells of
    the main o/d sector matrix
    
    Parameters
    ----------
    sector_odm_hlr_df: pandas df
        Column matrix of all sector origin-destination movemnets from the
        national rail ticketing data
    lrtu_df: pandas df
        For the selected year, the estimate of the number of "unique" (i.e. not
        double counted with another rail mode) journeys by Light Rail, Tramway
        and Underground for the sectors in which such systems are located.
        This is an annual total
    
    Returns
    ----------
    sector_odm_hlr_df: pandas df
        Column matrix of all sector origin-destination movemnets from the
        national rail ticketing data, with the light rail, tramway and
        underground data joined on the related intrasector movements
    square_s_odm_df: pandas df
        Square matrix of all sector origin-destination movemnets from the
        national rail ticketing data, with the light rail, tramway and
        underground data joined on the related intrasector movements
    square_s_weekly_odm_df: pandas df
        Square matrix of all sector origin-destination movemnets from the
        national rail ticketing data, with the light rail, tramway and
        underground data joined on the related intrasector movements, scaled to
        be weekly to match the Tour Model outputs
    """
    hr_total = sector_odm_hlr_df['journeys'].sum()
    lrtu_total = lrtu_df['Yearly Journeys'].sum()
    
    sector_odm_hlr_df['Sector'] = np.where(
        sector_odm_hlr_df['origin_sector_id'] == sector_odm_hlr_df['destination_sector_id'],
        sector_odm_hlr_df['origin_sector_name'], '-')
    sector_odm_hlr_df = sector_odm_hlr_df.merge(
        lrtu_df, how='left', on='Sector')
    sector_odm_hlr_df['Yearly Journeys'] = sector_odm_hlr_df['Yearly Journeys'].fillna(0).astype(int)
    sector_odm_hlr_df['journeys'] = (sector_odm_hlr_df['journeys'] +
                                     sector_odm_hlr_df['Yearly Journeys'])
    sector_odm_hlr_df = sector_odm_hlr_df.drop(
        ['Sector', 'Yearly Journeys'], axis=1)

    hrlrtu_total = sector_odm_hlr_df['journeys'].sum()
    if hr_total + lrtu_total != hrlrtu_total:
        print('WARNING: Unexpected mismatch between National Rail and other rail totals with their sum!')
    
    # Make square
    square_s_odm_df = sector_odm_hlr_df.pivot(
        index=['origin_sector_id', 'origin_sector_name'],
        columns=['destination_sector_id', 'destination_sector_name'],
        values='journeys'
    )
    
    # Make square matrix weekly (to match Tour Model Output)
    square_s_weekly_odm_df = square_s_odm_df/52
    
    return sector_odm_hlr_df, square_s_odm_df, square_s_weekly_odm_df

## Functions to process model output data

In [98]:
def make_model_rail_mat(model_input, sector_df):
    """
    Process the model outputs to get a square matrix that matches the format and
    dimensions of the rail ticketing data matrix. Also produce a matrix for
    scaling to subsets of the overall df later.

    Parameters
    ----------
    model_input: pandas df
        The county level o/d matrix in stack format exported by the tour model.
        This contains additional modes, as well as trip purposes and time
        periods
    sector_df: pandas df
        County to sector correspondence

    Outputs
    ----------
    rail_mat: pandas df
        Square rail matrix derived from the tour model. Set to the county level
    pdt_props_df: pandas df
        For each purpose, direction and time period combination, this df lists
        the proportion of rail trips relative to all rail trips
    """
    # Filter to rail only
    rail_mat = model_df[model_df['mode'] == 'Rail']
    sector_df = sector_df[['county', 'Sector', 'Sector_ID']]
    
    # Make purpose, directrion and time period proportions
    pdt_props_df = rail_mat.groupby(['purpose',
                                        'direction',
                                        'period']
                                      )['trips'].sum().reset_index()
    rail_trip_tot = pdt_props_df['trips'].sum()
    pdt_props_df['proportion'] = pdt_props_df['trips'] /  rail_trip_tot
    pdt_props_df = pdt_props_df.drop(columns=['trips'])
    
    # Make square, county level tour model output rail matrix
    rail_mat = rail_mat.rename(
        columns={'tmz_o': 'county_origin', 'tmz_d': 'county_destination'})
    for d in ['destination', 'origin']:
        rail_mat = rail_mat.merge(sector_df,
                                  left_on='_'.join(['county', d]),
                                  right_on='county', how='left')
        colname_s = '_'.join([d, 'sector_name'])
        colname_si = '_'.join([d, 'sector_id'])
        rail_mat = rail_mat.rename(columns={'Sector': colname_s,
                                            'Sector_ID': colname_si})
        rail_mat = rail_mat.drop(columns=['county'])
    rail_mat = rail_mat[['destination_sector_name',
                         'destination_sector_id',
                         'origin_sector_name',
                         'origin_sector_id',
                         'trips']]
    rail_mat = rail_mat.groupby(['destination_sector_name',
                                 'destination_sector_id',
                                 'origin_sector_name',
                                 'origin_sector_id']
                               )['trips'].sum().reset_index()
    rail_mat = rail_mat.pivot(
        index=['origin_sector_id', 'origin_sector_name'],
        columns=['destination_sector_id', 'destination_sector_name'],
        values='trips'
        )
    
    rail_mat = rail_mat.fillna(0) # Fill missing data with 0 (i.e. no trips)
    rail_mat = rail_mat.reindex(sorted(rail_mat.columns), axis=1)

    return rail_mat, pdt_props_df

In [87]:
furness_params = {
    'tolerance': 1e-9,
    'max_iterations': 5000,
    'warning': True
}

def furness_rail(ticket_mat, rail_mat, furness_params):
    """
    Furness the tour model output rail matrix to get the patterns from the
    ticketing data. Expect this to fill in the blanks (0s) in the rail matrix

    Parameters
    ----------
    ticket_mat: pandas df
        Target matrix for the furness process. Extracted from rail ticketing
        data
    rail_mat: pandas df
        Seed data for the furness process. These are the tour model output rail
        trips
    furness_params: dict
        Contains tolerance, maximum iterations and whether warnings are shown by
        the furness process

    Outputs
    ----------
    
    """

In [107]:
# Scale ticketing data to same total as tour model output
ticket_tot = sq_s_weekly_odm_df.sum().sum()
tour_tot = rail_mat.sum().sum()
ticket_mat = sq_s_weekly_odm_df * (tour_tot / ticket_tot)

# Initialise furness process
# Check this is the correct way around...
row_targets = ticket_mat.sum(axis=0).reset_index(drop=True).to_numpy()
col_targets = ticket_mat.sum(axis=1).reset_index(drop=True).to_numpy()
seed_vals = rail_mat.replace(0, 1e-10).to_numpy()

tol = furness_params['tolerance']
max_iters = furness_params['max_iterations']
warning = furness_params['warning']

f_mat, iteration, rmse = furness.doubly_constrained_furness(seed_vals,
                                                            row_targets,
                                                            col_targets,
                                                            tol,
                                                            max_iters,
                                                            warning)
print(iteration)
print(rmse)

f_mat_df = pd.DataFrame(data=f_mat,
                        index=ticket_mat.index,
                        columns=ticket_mat.columns)
display(f_mat_df)
# f_mat_df.to_csv(r'C:\Users\Jimny\Documents\GitHub\ART_NTS_Processing\python\post_tour_adj\test_mat_dump.csv')
# ticket_mat.to_csv(r'C:\Users\Jimny\Documents\GitHub\ART_NTS_Processing\python\post_tour_adj\tickettest_mat_dump.csv')
# rail_mat.to_csv(r'C:\Users\Jimny\Documents\GitHub\ART_NTS_Processing\python\post_tour_adj\tourtest_mat_dump.csv')
# print(f_mat)

485
9.936380984707746e-10

,destination_sector_id,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,25,26
,destination_sector_name,Cheshire,Cleveland,Cumbria,Durham,Greater Manchester,Humberside,Lancashire,Merseyside,North Yorkshire,Northumberland,...,West Midlands South,EEH,Peninsula Transport,TfSE,Transport East,Western Gateway,London,Scotland,North Wales,South Wales
origin_sector_id,origin_sector_name,,,,,,,,,,,,,,,,,,,,,
1,Cheshire,5.960883e+04,1.172291e-10,5.615745e+02,1.860608e-10,54120.897641,1.243581e+03,1.493008e+03,3.463624e+04,8.564552e+02,1.146974e-10,...,3.798007e+03,2025.213583,1.282775e+02,2.050197e+03,1.058200e-10,5.735608e+01,1.329391e+04,1.248841e+02,3.604042e+03,3.646276e+02
2,Cleveland,1.249704e-10,1.762052e+04,1.253608e-10,4.876363e+03,864.594861,1.033272e-10,1.287379e-10,1.329801e-10,3.345406e+03,1.136757e-10,...,1.297579e-10,56.026638,3.767643e+02,4.207560e+02,8.053186e+02,1.278509e-10,2.226661e+03,1.789036e+03,1.044893e-10,1.488322e-10
3,Cumbria,1.458827e+02,1.608532e-10,2.907882e+04,3.412674e+02,4085.762226,1.430523e-10,9.319619e+03,7.363016e+02,1.273487e+03,2.336312e+02,...,3.615800e+02,879.806958,1.046179e+02,5.127124e+02,7.784853e+01,5.549800e+01,3.185822e+03,4.332855e+03,1.446611e-10,2.956493e+02
4,Durham,4.331161e+02,5.084137e+03,2.518576e+02,4.632259e+03,3125.104587,2.138178e+02,1.474541e+02,1.555562e-10,1.158127e+04,1.451951e+03,...,1.517870e-10,489.320163,1.506569e-10,1.345421e-10,1.226825e-10,1.495562e-10,8.400322e+03,8.496638e+02,1.222285e-10,1.740996e-10
5,Greater Manchester,5.505310e+04,8.306998e+02,3.661409e+03,1.520726e+03,697696.815867,9.184700e+02,4.905795e+04,4.117921e+04,8.638311e+03,1.022107e+02,...,5.572996e+03,6425.223216,9.323622e+02,2.594676e+03,1.560716e+03,2.334437e+03,2.339785e+04,3.075960e+03,1.515550e+03,2.114046e+03
6,Humberside,1.378032e+02,9.649650e-11,1.041175e-10,2.361057e+02,1917.115841,3.015238e+04,1.454249e+02,4.665155e+02,4.096343e+03,1.530389e+02,...,5.770554e+02,415.303288,5.427501e+02,2.327550e+03,1.001905e+02,4.775973e+01,3.884070e+03,4.882151e+02,4.476387e+02,1.236115e-10
7,Lancashire,2.153134e+03,1.165541e-10,9.235270e+03,4.113235e+02,47664.246876,5.975483e+02,1.175154e+05,2.003472e+04,4.818321e+02,1.140370e-10,...,2.063214e+03,1658.370395,8.987320e+01,1.521245e+03,9.244973e+02,5.908426e+02,7.830607e+03,2.835521e+03,1.401897e+03,1.493053e-10
8,Merseyside,3.498284e+04,1.110097e-10,1.256315e+03,1.761896e-10,40994.874142,4.202779e+02,1.819164e+04,6.293048e+05,2.428466e+03,1.086123e-10,...,3.846081e+03,1315.788751,1.230551e-10,3.552271e+03,7.045399e+02,6.758965e+02,1.175484e+04,7.967925e+02,3.598830e+03,1.422029e-10
9,North Yorkshire,9.459810e+02,4.511198e+03,1.309805e+03,1.398717e+04,7434.994630,5.090152e+03,5.027600e+02,6.883221e+02,4.115472e+04,1.302846e+02,...,2.588428e+03,2580.850903,1.584607e-10,1.415754e+03,8.118020e+02,7.266034e+02,1.029997e+04,5.591561e+02,1.285597e-10,1.831176e-10
10,Northumberland,1.434185e-10,1.333361e-10,4.274931e+02,2.316619e+02,80.781315,5.411433e+01,1.477422e-10,1.526107e-10,2.026784e+02,1.647706e+03,...,6.056574e+02,95.005447,1.478041e-10,1.774333e+02,1.203594e-10,1.467242e-10,2.202904e+03,4.051270e+03,1.199140e-10,1.708029e-10
11,South Yorkshire,8.428948e+02,2.211593e+02,2.262515e+02,1.035655e+03,11033.900535,6.009815e+03,6.701105e+02,1.632070e+03,8.621664e+03,5.263246e+02,...,2.326101e+03,2017.393354,4.259843e+02,2.163474e+03,3.854157e+02,3.819141e+02,8.481897e+03,5.201471e+02,8.063246e-11,3.754866e+02
12,Tyne and Wear,9.018609e-11,4.857882e+03,1.735536e+03,1.083327e+04,1561.106000,5.947596e+01,3.821093e+02,9.540431e+02,5.380715e+03,1.021432e+04,...,5.650562e+02,696.474952,9.294385e-11,4.754762e+02,4.396489e+01,9.226481e-11,5.350290e+03,6.276565e+03,7.540567e-11,2.448222e+02
13,West Yorkshire,1.597690e+03,1.850697e+03,1.142647e+03,4.379434e+03,34332.934144,4.485213e+03,4.929753e+03,1.618450e+03,4.706579e+04,1.015712e-10,...,4.429533e+03,7681.478473,1.829280e+02,4.400570e+03,2.958907e+02,9.075365e+02,1.821954e+04,2.111454e+03,3.130993e+02,4.090544e+02
14,East Midlands North,1.310517e+03,1.167475e-10,5.734336e+02,1.379481e+03,23589.667592,1.371678e+03,2.795019e+02,3.724961e+03,4.373949e+03,1.142262e-10,...,9.775866e+03,8969.850591,1.273114e+03,3.788861e+03,1.698705e+03,2.024095e+03,3.234536e+04,3.114978e+02,1.359495e+02,3.144233e+02
15,East Midlands South,2.097730e+02,1.069536e-10,1.154005e-10,1.697520e-10,1530.665091,6.700483e+02,3.446946e+02,1.033845e+02,1.134111e-10,1.046438e-10,...,1.319895e+04,7522.332744,5.548306e+01,1.246423e+03,3.692171e+02,3.968797e+02,1.611010e+04,2.591281e+02,9.618728e-11,4.793766e+02
16,West Midlands North,3.396820e+03,1.071570e-10,1.984259e+02,9.509150e+01,4878.639631,2.656308e+02,7.643372e+02,4.923070e+03,1.136267e-10,1.048428e-10,...,6.663057e+04,773.874680,2.694993e+02,9.217687e+02,3.185777e+02,5.478193e+02,1.154216e+04,3.163828e+02,1.838258e+03,4.176712e+02
17,West Midlands South,3.613497e+03,1.222106e-10,6.668254e+02,1.939671e-10,4867.382992,7.694165e+02,2.816081e+03,2.866726e+03,1.640625e+03,7.493057e+02,...,7.950748e+05,18467.902716,1.793610e+03,5.977977e+03,4.720087e+03,1.101022e+04,6.110521e+04,5.414579e+03,3.473728e+02,3.815072e+03
18,EEH,1.675177e+03,6.472333e+01,2.990162e+02,2.841285e+02,3264.310296,2.485650e+02,2.182355e+03,2.711241e+03,3.563642e+03,9.826557e+02,...,2.581795e+04,301856.618914,2.175587e+03,5.157751e+04,3.024010e+04,1.101207e+04,8.023591e+05,2.852873e+03,4.149103e+02,2.959208e+03
19,Peninsula Transport,4.293581e+02,2.890984e+02,1.174660e+02,1.481651e+02,1487.886005,1.128766e-10,1.406356e-10,2.035373e+02,1.345856e-10,1.241814e-10,...,3.989140e+03,2299.673182,2.449196e+05,7.525677e+03,6.034483e+02,5.282599e+04,3.203623e+04,1.447776e-10,4.418743e+02,8.427118e+03
20,TfSE,2.442963e+03,7.397510e+01,1.362837e+03,2.017199e+02,3490.050528,7.464044e+02,1.608964e+03,1.816554e+03,1.538765e+03,1.691201e+03,...,8.251684e+03,50016.489333,8.561656e+03,1.195863e+06,7.780034e+03,3.639304e+04,1.284880e+06,1.996704e+03,9.229146e-11,4.416554e+03
21,Transport East,1.668034e+02,9.699930e-11,1.046600e-10,1.539529e-10,1024.698803,8.626485e-11,7.113186e+02,2.979113e+02,1.513307e+03,9.490447e-11,...,3.833858e+03,29788.266982,1.487025e+03,9.704679e+03,2.338292e+05,2.015690e+03,5.403510e+05,3.284343e+02,1.610747e+02,3.465145e+02
22,Western Gateway,1.251443e+02,1.383777e+02,1.020558e-10,1.033727e+03,1829.862491,8.411840e-11,1.181217e+03,4.225459e+02,7.810039e+02,2.881576e+02,...,1.167781e+04,11642.860796,5.474579e+04,3.323555e+04,1.081754e+03,1.361762e+05,5.328357e+04,1.489817e+03,9.072305e+01,2.190726e+04
23,London,1.217898e+04,1.585150e+03,2.979972e+03,5.392271e+03,23921.089750,4.242340e+03,7.962330e+03,8.118872e+03,1.452747e+04,9.222860e+02,...,5.408835e+04,805214.404927,3.073078e+04,1.292676e+06,5.403718e+05,5.636817e+04,1.571389e+07,5.201133e+03,2.686979e+03,1.051676e+04
24,Scotland,7.496393e+02,2.480455e+03,3.938119e+03,2.869372e+03,1713.243277,2.271421e+02,3.786942e+03,8.303506e+02,1.557573e+03,3.917398e+03,...,1.105154e+03,2617.091577,7.842498e+02,4.742039e+02,2.292099e+03,5.042848e+02,7.381395e+03,1.408240e+06,1.983176e+02,1.143264e-10
25,North Wales,3.630150e+03,6.295843e-11,6.793069e-11,9.992479e-11,1794.191122,3.271140e+02,8.748315e+02,2.843680e+03,6.675963e-11,6.159876e-11,...,8.164002e+02,675.961238,6.978992e-11,2.161716e+02,1.212913e+02,1.120362e+02,2.319196e+03,1.638840e+02,3.593661e+04,2.046989e+03
26,South Wales,3.678685e+02,7.931139e-11,1.084157e+03,1.258795e-10,1156.967330,7.053437e-11,8.788049e-11,5.513836e+02,8.409992e-11,7.759856e-11,...,3.277808e+03,3977.800102,7.946437e+03,4.676187e+03,7.159257e-11,2.126594e+04,1.078761e+04,9.046871e-11,2.006377e+03,2.646672e+05

## Call rail ticketing/journey processing functions

In [13]:
lrtu_df_processed = process_lrtu_data(
    lrtu_in_df,
    lrtu_year_in,
    lrtu_systems_in,
    lrtu_london_scale_in,
    lrtu_nonlondon_scale_in
)
odm_df_rat, msoa_county_df_rat, stn_geo_df_rat = rationalise_inputs(
    odm_in_df,
    msoa_county_in_df,
    stn_geo_in_df
)
stn_geo_df_processed = process_station_geography(
    msoa_county_df_rat,
    stn_geo_df_rat,
    stn_county_infill_df
)
sector_odm_df_processed, c_rows, s_rows = make_sector_rail_odm(
    odm_df_rat,
    stn_geo_df_processed,
    sector_in_df
)
check_odm_processing(
    c_rows,
    s_rows,
    msoa_county_df_rat,
    sector_in_df,
    sector_odm_df_processed,
    odm_df_rat
)
s_odm_hlr_df, sq_s_odm_df, sq_s_weekly_odm_df = add_lrtu_to_national_rail(
    sector_odm_df_processed,
    lrtu_df_processed
)

County table dimensions are as expected
Sector table dimensions are as expected
The 1228517053 National Rail journeys input are all accounted for

In [62]:
display(rail_mat)

,destination_sector_id,1,2,3,4,18,14,15,5,6,7,...,24,26,11,20,21,12,16,17,13,22
,destination_sector_name,Cheshire,Cleveland,Cumbria,Durham,EEH,East Midlands North,East Midlands South,Greater Manchester,Humberside,Lancashire,...,Scotland,South Wales,South Yorkshire,TfSE,Transport East,Tyne and Wear,West Midlands North,West Midlands South,West Yorkshire,Western Gateway
origin_sector_id,origin_sector_name,,,,,,,,,,,,,,,,,,,,,
1,Cheshire,47273.468049,0.000000,443.976309,0.000000,1538.997771,1410.160508,0.000000,48738.157008,1192.816122,1149.395782,...,9.339183e+01,242.810026,1644.829960,1.766657e+03,0.000000,197.607921,2902.458885,2900.921594,1453.237888,44.462076
2,Cleveland,0.000000,15165.937497,0.000000,2644.400144,42.958361,49.031098,0.000000,785.602300,0.000000,0.000000,...,1.349916e+03,0.000000,0.000000,3.658246e+02,767.866675,6128.083309,0.000000,0.000000,1799.141319,0.000000
3,Cumbria,84.317239,0.000000,16754.634109,133.673631,487.259559,36.701741,0.000000,2681.532204,0.000000,5228.914900,...,2.361466e+03,143.482772,237.944719,3.219854e+02,53.615254,2415.379163,130.097998,201.275267,1109.684603,31.354033
4,Durham,296.276004,3740.821984,171.748415,2147.451067,320.734431,803.100637,0.000000,2427.470614,176.900274,97.915110,...,5.480675e+02,0.000000,489.639009,0.000000e+00,0.000000,11890.906136,58.305139,0.000000,2878.951560,0.000000
5,Greater Manchester,49701.416390,806.656613,3295.191922,930.414227,5558.216843,23269.711161,1177.955110,715238.624328,1002.869316,42992.934558,...,2.618560e+03,1602.549616,9698.604344,2.545188e+03,1678.943199,1936.012968,4412.654819,4845.616493,31504.386266,2060.025378
6,Humberside,132.766974,0.000000,0.000000,154.161368,383.403844,1571.665663,766.576827,2097.376515,35135.393297,136.009858,...,4.435441e+02,0.000000,6921.627246,2.436574e+03,115.022390,163.137606,608.527996,535.453300,3899.466830,44.977585
7,Lancashire,1717.456444,0.000000,7343.613876,222.349676,1267.525054,339.207763,337.040498,43172.252035,576.474503,90993.472396,...,2.132762e+03,0.000000,1158.756194,1.318450e+03,878.710068,724.804425,166.133790,1585.011427,4617.837617,460.670034
8,Merseyside,29297.896646,0.000000,1048.879381,0.000000,1055.912379,842.102868,68.884300,38985.959024,425.706546,14789.515021,...,6.292474e+02,0.000000,1207.533730,3.232491e+03,703.092198,269.621301,3468.505785,3102.224020,862.243738,553.305556
9,North Yorkshire,615.236450,3155.797949,849.203459,6164.927042,1608.358617,2673.006413,337.264423,5490.824790,4003.895978,317.410377,...,3.429158e+02,0.000000,7962.828975,1.000454e+03,629.122227,5151.412655,0.000000,1621.321605,37309.542440,461.913357
10,Northumberland,0.000000,0.000000,297.145643,109.468109,63.475116,50.873301,434.310630,63.959177,45.635137,0.000000,...,2.663671e+03,0.000000,139.073551,1.344248e+02,0.000000,12418.697009,0.000000,406.719530,273.294155,0.000000
11,South Yorkshire,874.033189,246.670636,233.879133,727.793048,2004.497156,15952.494314,1292.911585,12992.145499,7537.166101,674.530735,...,5.085990e+02,326.933297,238548.240792,2.437563e+03,476.221793,1037.674384,781.461350,2323.039035,26055.681000,387.100503
12,Tyne and Wear,0.000000,5793.821731,1918.402244,8140.635217,739.990724,1284.036462,0.000000,1965.577260,79.761686,411.290677,...,6.562620e+03,227.940444,1193.556037,5.728475e+02,58.088708,540054.603852,278.084634,603.428007,2303.468286,0.000000
13,West Yorkshire,1430.811735,1782.718822,1020.111430,2657.946165,6591.663504,4249.309329,515.805478,34913.877516,4858.088224,4285.641353,...,1.783061e+03,307.596349,26363.385947,4.282019e+03,315.752263,3079.232819,1855.194000,3820.509046,375430.199453,794.433313
14,East Midlands North,1043.608367,0.000000,455.222214,744.472923,6844.477323,205337.219550,11376.170313,21331.129547,1321.110635,216.062953,...,2.339077e+02,210.242118,16470.303636,3.278334e+03,1611.900033,1004.863551,2637.347761,7497.618919,4869.609293,1575.538911
15,East Midlands South,182.346065,0.000000,0.000000,0.000000,6265.556825,12135.045271,18886.899384,1510.860137,704.442188,290.858666,...,2.124008e+02,349.891842,1674.402220,1.177232e+03,382.431701,0.000000,95.174805,11049.932336,575.938183,337.216791
16,West Midlands North,2947.096305,0.000000,171.619148,55.911586,643.358031,2883.530403,98.176203,4806.376427,278.735743,643.735575,...,2.588388e+02,304.275144,1478.129950,8.689474e+02,329.353640,0.000000,31896.570978,55676.077762,1937.046496,464.582145
17,West Midlands South,2748.914879,0.000000,505.698039,0.000000,13462.058580,8004.166159,8867.760719,4204.616308,707.925379,2079.598728,...,3.884124e+03,2436.949199,2280.192482,4.941259e+03,4278.670657,683.372175,59547.392470,582525.456752,5027.288833,8187.153898
18,EEH,1413.718350,58.751748,251.560510,162.500784,244097.473084,6153.015485,5802.149377,3128.174471,253.708272,1787.839134,...,2.270280e+03,2096.949472,3202.825969,4.729469e+04,30409.602527,290.367316,1132.438547,20984.440535,4909.322797,9083.952836
19,Peninsula Transport,314.502070,227.775559,85.775148,73.550893,1614.099324,139.414312,112.651339,1237.572773,0.000000,0.000000,...,0.000000e+00,5183.141347,793.008954,5.989618e+03,526.707072,0.000000,345.157766,2814.209404,190.773460,37822.909668
20,TfSE,2213.196042,72.085205,1230.813886,123.848279,43418.662925,6513.348893,754.938913,3590.309654,817.842216,1414.979390,...,1.705734e+03,3359.669914,2072.225904,1.177157e+06,8398.654568,1781.679125,2403.262461,7199.773891,3190.819961,32227.359270
21,Transport East,159.874338,0.000000,0.000000,0.000000,27357.681323,1878.675276,47.146957,1115.237156,0.000000,661.818135,...,2.968363e+02,278.872290,473.088074,1.010659e+04,267053.162883,153.525891,663.148050,3539.020379,570.143827,1888.429888
22,Western Gateway,123.006427,146.298645,0.000000,688.590373,10965.706822,1394.640079,546.302178,2042.360172,0.000000,1127.059760,...,1.380843e+03,18080.679814,633.913446,3.549517e+04,1266.982299,0.000000,1203.109998,11054.814475,1991.006958,130834.217927
23,London,11422.205453,1599.068816,2786.100241,3427.276330,723620.569448,31652.199249,14640.061172,25475.181136,4812.125733,7249.031222,...,4.599725e+03,8281.924237,13855.712299,1.317282e+06,603888.832698,5318.267980,12023.699483,48855.796981,19282.172340,51674.517260
24,Scotland,780.900172,2779.278716,4089.568469,2025.668145,2612.295969,341.153156,371.847649,2026.559919,286.176047,3829.416482,...,1.383295e+06,0.000000,1413.749046,5.367327e+02,2845.128150,5630.390661,1280.497847,1108.764903,2720.354239,513.478742
25,North Wales,5360.595129,0.000000,0.000000,0.000000,956.468227,1385.310874,0.000000,3008.530444,584.224842,1254.046410,...,2.282022e+02,2538.131615,63.685028,3.468460e+02,213.423976,0.000000,2854.762867,1161.087389,1062.797131,161.715000
26,South Wales,431.220499,0.000000,1266.906179,0.000000,4467.968032,358.203963,612.372422,1540.015708,0.000000,0.000000,...,0.000000e+00,260505.625162,528.130325,5.955914e+03,0.000000,630.685837,552.789551,3700.527815,541.982001,24366.595118