# WP-2 mdltour warning checks

<p style="color:rgb(0,162,219); font-family:Arial; font-size:16px;">Notebook Information </p>

<table style="color:rgb(88,89,91); font-family:Arial; float:left; font-size:13px; text-align:left;">
    <tr>
        <td style="color:rgb(0,90,132);font-size:13px; text-align:left;"><b>Project</b></td>
        <td style="text-align:left;">NorMITs Demand Partner </td>
    </tr>
    <tr>
        <td style="color:rgb(0,90,132);font-size:13px; text-align:left;"><b>Primary Contact Name</b></td>
        <td style="text-align:left;"> </td>
    </tr>
    <tr>
        <td style="color:rgb(0,90,132);font-size:13px; text-align:left;"><b>Primary Contact Email</b></td>
        <td style="text-align:left;"> </td>
    </tr>
    <tr>
        <td style="color:rgb(0,90,132);font-size:13px; text-align:left;"><b>Document Sensitivity</b></td>
        <td style="text-align:left;"> </td>
    </tr>
</table>

In [1]:
import pandas as pd 
import numpy as np
import os
import logging
import sys
import time
import json
from utils import ChecksLogger

In [2]:
logger = ChecksLogger(log_file_name='checks_log.csv')

In [3]:
# Set paths etc.
model_version = 'v5'
tour_dir = r'I:\NTS\outputs\tour'
reports_dir = os.path.join(tour_dir, 'reports', model_version)
report_files = ['attr_county_output.csv', 
                'matrix_county_output.csv', 
                'nts_distr_output.csv', 
                'nts_mts_output.csv', 
                'nts_tour_output.csv', 
                'prod_county_output.csv']

In [4]:
# ALL CONTENT WITHIN THIS CELL TO BE DELETED EVENTUALLY
# CHECK IT IS NOT CALLED ANYWHERE BEFORE DOING SO THOUGH
# Should be replaced by things in cells above it

# Define the expected output files and directory
output_files = ['TourModelAnalysisCombinedInputs.csv',
                'County_to_TAZ.csv',
                'STB-Correspondence.xlsx', 
                'attr_county_output.csv', 
                'matrix_county_output.csv', 
                'nts_distr_output.csv', 
                'nts_mts_output.csv', 
                'nts_tour_output.csv', 
                'prod_county_output.csv']
output_dir = reports_dir #r'C:\Users\Elucidate\Documents\Git\lp-nts-processing\python\mdltour_warning_checks'

### TM011 - Check expected output files exist

Check specified output files have been produced in expected location and contain data, have been last edited within a certain time window of the initial tour model script running (which is hopefully logged somewhere?) - in other words, checking these are definitely the outputs produced by the latest run. Probably wants to be the first thing we check

In [5]:
time_window = time.time() # Confirm time frame
time_window

1719416310.2545857

In [6]:
# # Function to check if a file exists, has a data, and has been modified within the time window
# def check_output_files(output_files,output_dir, time_window):
#     for file in output_files:
#         file_path = os.path.join(output_dir,file)
#         #check if file exist
#         if os.path.exists(file_path):
#             #check if file has data
#             if os.path.getsize(file_path) > 0:
#                  #check if file has been modified within the time window
#                  mod_time = os.path.getmtime(file_path)
#                  current_time = time.time()
#                  if current_time - mod_time <= time_window:
#                      print(f"{file} has been produced, contains data, and produced by the latest run.")
#                  else:
#                      print(f"Warning: {file} exists and contains data, but was not produced by the latest run.")
#             else:
#                 print(f"Warning: {file} exists but does not contain data.")
#         else:
#             print(f"Warning: {file} does not exist")

In [7]:
## RM EXAMPLE - THIS IS HOW YOU CAN INCLUDE THE LOGGER FUNCTION IN THE ABOVE ##

# Function to check if a file exists, has a data, and has been modified within the time window
def check_output_files(output_files,output_dir, time_window):
    """
    TM011: Check if a file exists, has data, and has been modified within time window.
    Args: 
        output_files: List of expected output files
        output_dir: Directory for expected output files
        time_window: Acceptable time window to be considered output from latest run
    """
    for file in output_files:
        file_path = os.path.join(reports_dir,file)
        #check if file exist
        if os.path.exists(file_path):
            #check if file has data
            if os.path.getsize(file_path) > 0:
                #check if file has been modified within the time window
                mod_time = os.path.getmtime(file_path)
                current_time = time.time()
                if current_time - mod_time <= time_window:
                    print('here')
                    logger.success(f"TM011: Check output files exist", f"Success - {file} exists and contains data from latest run.")
                else:
                    print('there')
                    logger.warning(f"TM011: Check output files exist", f"Warning - {file} exists and contains data, but was not produced by latest run.")
            else:
                print('where')
                logger.warning(f"TM011: Check output files exist", f"Warning - {file} exists but does not contain data.")
        else:
            print('so')
            logger.warning(f"TM011: Check output files exist", f"Warning - {file} does not exist.")
    logger.save_logs()
    print('logged')

In [8]:
check_output_files(output_files,output_dir, time_window)

so
so
so
here
here
here
here
here
here
logged

### TM012 - Check output schemas

List the expected column names and schemas in all output files, then check the outputs match these. Might end up wrapping some of the other checks into this depending on things like table shapes and how descriptive Python schemas are. Probably also wants to be quite an early check

In [6]:
# Function to get columns and data types of a CSV file

def get_columns_datatypes(csv_file):
    df = pd.read_csv(csv_file)
    columns_datatypes = {column: str(df[column].dtype) for column in df.columns}
    return columns_datatypes

# Function to process each CSV file in a folder
def process_csv_files(folder_path):
    csv_files = ['attr_county_output.csv', 'matrix_county_output.csv', 'nts_distr_output.csv', 'nts_mts_output.csv', 'nts_tour_output.csv', 'prod_county_output.csv']
    result = {}
    for csv_file in csv_files:
        file_path = os.path.join(folder_path, csv_file)
        if os.path.exists(file_path):
            result[csv_file] = get_columns_datatypes(file_path)
        else:
            result[csv_file] = "File not found"
    return result

# Folder containing CSV files
folder_path = r'C:\Users\Elucidate\Documents\Git\lp-nts-processing\python\mdltour_warning_checks\output'

# Process CSV files and save results to JSON
result = process_csv_files(folder_path)
with open('columns_datatypes.json', 'w') as json_file:
    json.dump(result, json_file, indent=4)

In [7]:
# Function to get columns and data types of a CSV file
def get_columns_datatypes(csv_file):
    df = pd.read_csv(csv_file)
    columns_datatypes = {column: str(df[column].dtype) for column in df.columns}
    return columns_datatypes

# Function to compare JSON output with new CSV files
def compare_with_json(json_file, folder_path, expected_files):
    with open(json_file, 'r') as f:
        json_data = json.load(f)
    
    column_errors = []
    datatype_errors = []
    matching_files = []
    
    for file_name, expected_columns in json_data.items():
        if file_name not in expected_files:
            continue
        
        file_path = os.path.join(folder_path, file_name)
        if not os.path.exists(file_path):
            raise FileNotFoundError(f"{file_name} not found in the specified folder.")
        
        actual_columns = get_columns_datatypes(file_path)
        
        if expected_columns.keys() != actual_columns.keys():
            column_errors.append(file_name)
        else:
            if all(column in actual_columns and actual_columns[column] == datatype
                   for column, datatype in expected_columns.items()):
                matching_files.append(file_name)
            else:
                for column, datatype in expected_columns.items():
                    if column not in actual_columns or actual_columns[column] != datatype:
                        datatype_errors.append((file_name, column))
    
    return column_errors, datatype_errors, matching_files

# Folder containing newly produced CSV files
new_folder_path = r'C:\Users\Elucidate\Documents\Git\lp-nts-processing\python\mdltour_warning_checks'

# JSON file containing the expected columns and data types
json_file = r'C:\Users\Elucidate\Documents\Git\lp-nts-processing\python\mdltour_warning_checks\columns_datatypes.json'

# Compare new CSV files with JSON output
try:
    column_errors, datatype_errors, matching_files = compare_with_json(json_file, new_folder_path, output_files)
    
    if column_errors:
        for i in column_errors:
            print("Warning: Column errors found in ", i)
    
    if datatype_errors:
        print("Warning: Data type errors found in")
        for file_name, column in datatype_errors:
            print(f"{file_name}: {column}")
    
    if matching_files:
        for i in matching_files:
            print(i, " file matches the expected columns and data types")
    
    if not column_errors and not datatype_errors and not matching_files:
        for i in output_files:
            print(i, " file matches the expected columns and data types.")
except FileNotFoundError as e:
    print("Error:", e)

Warning: Column errors found in  nts_distr_output.csv
attr_county_output.csv  file matches the expected columns and data types
matrix_county_output.csv  file matches the expected columns and data types
nts_mts_output.csv  file matches the expected columns and data types
nts_tour_output.csv  file matches the expected columns and data types
prod_county_output.csv  file matches the expected columns and data types

### TM005 - Intrasector trips should be highest

The maximum value for any given row/column in the output matrix is expected to be the intrasector cell. Allow some leeway here though - exception is probably Air travel as a mode, and rail in some instances. Calculate % average, flag if not inline.

In [8]:
df = pd.read_excel(r'C:\Users\Elucidate\Documents\Git\lp-nts-processing\python\mdltour_warning_checks\Tour Model Analysis v2.0.xlsm', sheet_name = 'Raw_Data', usecols='H:U',skiprows = 3)
counties = df['county_origin'].unique()
#df[County_ID_origin] = df[County_ID_origin].astype('Int64')
#df[County_ID_destination] = df[County_ID_destination].astype('Int64')
df.head()

,SOURCE,County_ID_origin,County_ID_destination,county_origin,county_destination,mode_name,purpose_name,direction,period,trips,SectorID_origin,Sector_origin,SectorID_destination,Sector_destination
0,NTEM7_prod,1.0,NaN,West Yorkshire,NaN,Walk,Commuting,hb_fr,1,194024.60,13.0,West Yorkshire,NaN,NaN
1,NTEM7_prod,1.0,NaN,West Yorkshire,NaN,Walk,Commuting,nhb,1,12258.35,13.0,West Yorkshire,NaN,NaN
2,NTEM7_prod,1.0,NaN,West Yorkshire,NaN,Walk,Commuting,hb_to,1,12364.70,13.0,West Yorkshire,NaN,NaN
3,NTEM7_prod,1.0,NaN,West Yorkshire,NaN,Walk,Commuting,nhb,1,0.00,13.0,West Yorkshire,NaN,NaN
4,NTEM7_prod,1.0,NaN,West Yorkshire,NaN,Walk,Commuting,hb_fr,2,74716.55,13.0,West Yorkshire,NaN,NaN

In [9]:
# Create a pivot table
pivot_table = pd.pivot_table(df, 
                             values='trips', 
                             index=['County_ID_origin','county_origin'], 
                             columns=['County_ID_destination','county_destination'], 
                             aggfunc='sum', 
                             fill_value=0)

#Pivot table with formatting
pd.options.display.float_format = '{:,.2f}'.format


# Display the pivot table
print("Pivot Table:")
pivot_table

Pivot Table:

,County_ID_destination,1.00,2.00,3.00,4.00,5.00,6.00,7.00,8.00,9.00,10.00,...,46.00,47.00,48.00,49.00,50.00,51.00,52.00,53.00,54.00,55.00
,county_destination,West Yorkshire,South Yorkshire,North Yorkshire,Humberside,Derbyshire,Nottinghamshire,Lincolnshire,Leicestershire,Northamptonshire,Cambridgeshire,...,Mid Wales,South West Wales,South East Wales,North Wales,Staffordshire,Shropshire,Hereford & Worcester,Warwickshire,West Midlands county,Bristol
County_ID_origin,county_origin,,,,,,,,,,,,,,,,,,,,,
1.00,West Yorkshire,"70,507,614.35","929,796.68","1,471,474.68","179,900.81","63,375.54","50,842.22","29,722.15","35,166.77","6,567.07","12,940.09",...,984.02,"2,267.58","2,096.57","21,247.73","20,115.36","4,460.48",223.29,"9,788.19","46,909.57","2,252.06"
2.00,South Yorkshire,"889,359.50","40,567,706.76","178,443.49","294,520.84","862,840.43","413,438.11","95,111.39","41,351.84","7,467.40","8,549.94",...,"2,368.11","1,996.10","3,323.68","10,076.22","15,495.34","4,928.01",219.36,"10,304.79","31,941.70","1,786.11"
3.00,North Yorkshire,"1,347,381.60","152,431.91","24,598,105.15","547,432.86","18,904.15","19,058.15","16,067.00","10,067.39","4,493.42","5,606.73",...,"1,199.78",460.95,434.17,"6,537.30","7,507.26","1,034.66",172.84,"1,647.49","9,983.65","1,069.11"
4.00,Humberside,"187,546.14","287,333.07","594,511.94","28,468,098.56","27,473.88","43,715.06","449,152.64","28,653.41","4,635.91","6,520.19",...,0.00,"1,185.16","1,895.19","1,031.63","6,229.49","2,283.28",411.08,"2,605.58","9,277.65",182.54
5.00,Derbyshire,"63,766.66","765,757.09","21,599.69","24,709.34","29,187,328.68","1,879,548.34","56,042.17","594,001.32","21,343.42","6,421.76",...,999.01,"1,389.46","1,943.04","5,380.28","723,544.12","9,613.23",736.14,"33,084.86","125,745.07","2,128.91"
6.00,Nottinghamshire,"55,272.14","425,503.23","24,616.42","50,742.46","2,078,208.11","32,359,217.61","421,043.34","481,686.23","9,679.70","28,000.57",...,"1,106.27",329.33,"1,513.31","4,578.26","62,981.48","7,608.19",832.60,"24,034.85","104,903.54","2,188.18"
7.00,Lincolnshire,"28,481.64","90,217.62","16,597.79","446,619.50","67,498.87","401,802.26","21,487,861.76","299,844.24","72,742.62","689,779.87",...,255.03,324.03,130.78,"2,690.17","12,637.14","3,431.44","2,356.09","5,703.25","33,627.75",456.62
8.00,Leicestershire,"26,948.29","43,911.57","15,103.63","17,007.28","629,703.18","451,830.95","287,472.35","31,798,641.44","278,077.40","83,310.55",...,763.20,778.45,"5,803.58","2,239.59","201,564.26","11,088.90","1,296.95","566,303.70","380,308.21","4,979.16"
9.00,Northamptonshire,"4,986.38","9,608.96","5,251.63","6,001.26","30,272.43","13,665.39","94,111.94","352,457.39","21,533,415.76","329,628.49",...,"2,199.05",0.00,"1,298.45","2,838.68","14,461.01","8,724.73","2,810.11","204,405.48","130,253.03","1,893.19"
10.00,Cambridgeshire,"10,936.18","11,049.74","7,446.37","6,061.91","12,233.36","30,672.24","763,856.44","99,315.96","305,809.81","25,195,365.12",...,"1,068.17","2,907.26","4,116.80","1,271.42","8,905.38","1,431.54",196.00,"6,428.31","19,714.62","1,486.27"
11.00,Norfolk,"1,303.24","5,820.59","2,532.87","2,510.24","2,788.80","14,078.02","88,132.86","17,254.23","7,908.83","357,973.96",...,0.00,0.00,"1,289.48","3,104.04","2,124.59","1,360.59",523.30,"13,253.89","7,743.09","1,291.64"
12.00,Suffolk,"2,946.02","2,497.98","1,296.33",289.72,"6,349.77","4,044.12","9,478.77","8,047.52","6,354.09","385,119.36",...,650.17,"1,231.71","1,299.06","1,870.61","4,674.88","2,150.79",0.00,"1,149.44","4,991.41","1,280.22"
13.00,Essex,"4,969.29","4,047.11","3,409.92",416.92,"7,621.49","7,402.73","22,156.86","17,145.28","18,251.47","179,673.59",...,923.45,911.97,"2,452.29",980.84,"4,699.73","1,305.40",808.93,"9,803.77","19,236.53","7,304.27"
14.00,Bedfordshire,"9,450.51","7,863.67","4,426.83","3,712.55","2,644.69","11,431.10","6,655.88","21,330.42","182,044.44","263,655.87",...,0.00,"5,047.83",451.72,"2,668.97","5,350.95","1,383.20","1,820.77","16,010.19","44,079.44","1,388.17"
15.00,Hertfordshire,"5,911.96","6,675.14","3,578.18","3,274.13","2,878.66","11,566.60","7,160.66","12,351.51","29,671.32","421,565.65",...,0.00,"8,852.52","7,581.77","3,799.15","7,407.99","3,839.90",764.25,"9,226.71","23,368.59","3,555.00"
16.00,Outer London,"25,491.09","19,794.12","21,144.82","5,819.20","11,104.60","32,060.96","26,633.15","38,631.58","47,818.39","104,101.68",...,"7,442.98","10,118.12","18,759.64","12,066.75","15,126.98","7,430.58","5,336.47","28,231.61","73,886.90","18,036.91"
17.00,Inner London,"43,612.66","24,820.17","19,955.93","9,713.85","22,744.34","35,562.45","26,253.32","44,909.24","58,777.54","152,888.66",...,"1,700.81","6,098.45","16,576.24","6,048.06","16,897.47","17,599.90","4,262.12","36,992.72","109,264.37","41,281.09"
18.00,Northumberland,"6,296.63","3,361.67","13,225.79",393.72,"2,207.88","7,169.02","2,452.79","1,871.23",638.60,"1,844.05",...,0.00,0.00,0.00,0.00,0.00,364.64,0.00,291.00,"4,532.57",0.00
19.00,Durham,"35,255.71","10,405.47","256,169.18","9,202.83","1,282.19","6,363.98",772.33,724.41,186.30,179.16,...,0.00,622.06,0.00,"1,433.92","3,482.29",644.67,0.00,340.51,"1,545.50",0.00
20.00,Tyne and Wear,"34,719.50","11,252.08","64,308.81","8,926.78","4,555.97","3,520.05","5,392.11","1,968.38","1,395.08","5,013.44",...,0.00,455.88,0.00,"2,509.65","2,143.95","1,539.33",0.00,"1,055.44","6,919.27",444.98
21.00,Cleveland,"36,258.75","9,865.04","395,117.08","11,429.05","2,398.75","4,141.91","1,169.97","3,936.29","1,952.30",789.63,...,0.00,0.00,431.86,0.00,"1,290.04",183.00,104.10,292.66,"5,153.68",0.00
22.00,Cumbria,"26,605.12","3,233.43","45,505.11","1,528.16","7,168.64","3,088.81","2,144.27","2,175.34","1,442.65",298.99,...,0.00,0.00,619.45,"3,136.16","6,969.58","3,193.09",0.00,365.01,"5,932.65",36.00
23.00,Lancashire,"198,160.78","25,484.80","136,597.70","8,382.12","19,377.66","7,429.28","1,889.78","10,019.56","3,161.90","1,864.93",...,"1,042.56",121.50,"5,068.88","28,909.27","32,382.81","10,516.00",345.87,"5,337.65","34,413.62","3,262.71"
24.00,Greater Manchester,"504,495.55","118,520.71","102,718.51","26,559.94","440,445.71","28,042.81","11,341.31","24,625.68","10,333.64","10,456.91",...,"3,565.03","3,760.55","6,380.47","129,520.22","106,666.38","28,423.56","2,013.08","18,063.40","69,609.67","4,547.63"
25.00,Merseyside,"44,873.62","11,912.75","15,783.33","8,145.05","12,586.80","2,739.15","2,060.78","1,755.01","2,445.56","2,754.48",...,"3,293.68","1,660.90","5,564.29","172,884.94","38,186.25","23,792.08",363.88,"6,079.85","28,879.67","3,995.92"
26.00,Cheshire,"41,563.58","20,274.17","15,882.20","8,595.21","147,575.85","16,381.13","4,805.05","15,085.79","3,807.48","2,279.82",...,"4,356.71","1,404.95","6,212.07","618,345.80","554,327.18","141,989.01","1,653.46","7,948.80","45,761.92",960.72
27.00,Central & Tay,"1,937.12",577.40,"2,279.91",694.06,"4,016.98",0.00,0.00,"7,558.95",668.08,0.00,...,0.00,0.00,0.00,0.00,"5,465.13","3,157.10",0.00,107.61,"3,836.10",0.00
28.00,SE Scotland,"12,159.44","6,024.95","5,586.57","2,985.31","4,207.94","4,027.65","1,959.42","1,450.33",277.63,"4,556.67",...,0.00,0.00,"3,157.52","1,908.47","3,523.68","3,425.61",0.00,459.38,"11,505.50",650.27
29.00,West & SW Scotland,"15,987.14","5,886.91","16,716.76","2,710.59",705.86,"1,188.23",582.01,"2,976.88",615.63,0.00,...,0.00,"2,259.90","3,282.55","2,492.28","4,482.43",795.42,0.00,313.81,"7,709.56",897.21
30.00,Highlands & Islands,"2,861.68",0.00,"1,255.27",871.14,"3,919.65",0.00,0.00,"2,327.15",0.00,616.90,...,0.00,0.00,678.23,"1,038.68","3,933.93",0.00,0.00,0.00,0.00,484.56
31.00,NE Scotland,554.42,0.00,755.30,945.75,325.13,0.00,680.78,0.00,509.35,188.65,...,"1,209.67",0.00,269.87,0.00,740.13,0.00,0.00,0.00,649.21,0.00
32.00,Oxfordshire,"6,878.40","6,363.91","3,555.01",613.83,"13,868.08","6,426.87","4,179.01","10,262.85","171,999.60","10,113.70",...,"2,038.07","3,352.47","11,597.82","1,818.05","9,236.58","4,907.65","4,472.49","157,535.79","67,426.14","12,921.03"
33.00,Buckinghamshire,"5,260.57","4,769.65","4,178.46","5,139.36","12,215.65","11,996.32","6,629.09","28,861.37","404,894.75","35,845.02",...,"3,722.03","2,432.64","7,115.98",359.11,"13,155.92","9,692.58",438.28,"27,183.81","45,067.10","3,688.05"
34.00,Berkshire,"5,350.65","6,183.82","3,094.26","2,724.33","6,277.62","11,318.37","2,590.63","11,237.66","18,770.67","9,198.21",...,560.18,"5,148.01","13,057.43","1,152.30","6,307.88","2,955.92","1,385.50","7,344.04","31,064.87","14,492.69"
35.00,Hampshire,"6,849.85","3,630.32","6,066.50","3,387.53","4,163.02","4,707.39","2,633.71","7,790.42","11,600.80","11,115.59",...,"2,534.36","4,874.88","10,172.05","3,387.08","6,236.88","4,193.54","3,627.16","8,371.65","16,994.76","18,535.38"
36.00,Surrey,"4,209.51","4,171.12","4,276.29","4,266.44","2,919.51","2,697.75","4,716.85","4,088.73","11,074.78","20,622.22",...,0.00,"2,533.50","4,027.35","4,834.18","4,155.38","1,384.88","1,681.01","5,601.14","18,890.94","11,364.50"
37.00,West Sussex,"3,772.59","2,792.59",247.92,0.00,"4,848.56","5,473.09","2,630.12","4,141.77","5,414.66","9,288.07",...,91.98,0.00,"5,119.51",0.00,933.43,151.05,803.53,"2,401.81","7,680.55","4,685.11"
38.00,East Sussex,"2,058.60","2,096.67","1,213.98",408.50,"4,735.28",490.04,279.67,"1,538.71",760.40,"2,939.45",...,696.48,762.43,"1,956.84",243.23,"2,613.93",366.60,0.00,843.11,"5,628.95","1,553.59"
39.00,Kent,"4,127.26","2,804.32","7,519.34","3,238.55","4,418.47","8,468.17","10,245.94","6,961.46","7,143.23","22,459.11",...,"5,434.27","2,406.65","6,626.15","2,458.57","1,407.89","1,742.28",171.55,"4,720.82","17,948.68","3,647.75"
40.00,Gloucestershire,"3,427.16","5,353.39","3,723.43",236.65,"5,570.52","9,560.73","4,957.89","9,317.15","7,019.77","4,557.49",...,"3,459.54","8,742.37","264,658.72","8,502.63","14,872.56","10,103.02","187,269.24","109,814.50","90,646.52","1,583,298.39"
41.00,Wiltshire,"1,271.52","2,336.20",634.04,"1,494.42","2,375.18","5,945.48",654.88,"3,646.05","6,140.23","2,290.56",...,"1,112.49","4,547.32","32,796.34","1,191.95","4,106.55","6,150.92","2,048.51","9,987.54","15,366.57","117,941.15"
42.00,Dorset,"1,805.52","1,728.88",634.11,406.84,248.34,"2,819.79","1,061.27","1,736.47","1,050.65","5,537.69",...,733.58,"2,018.64","5,270.41",680.88,"5,274.37",239.86,121.82,"1,230.34","9,852.04","17,267.81"
43.00,Somerset,"2,155.39","2,027.24","1,566.05","1,835.89","3,585.95","10,315.93",904.98,"7,496.92","3,229.91","1,899.27",...,"2,807.54","5,478.03","71,158.60",986.90,"9,331.86","6,402.39","3,668.53","9,968.77","33,651.03","1,310,654.26"
44.00,Devon,"1,430.16","2,438.56",856.11,582.71,"5,351.02","2,429.27","1,497.68","4,393.66",602.81,"2,862.32",...,667.09,"3,902.21","15,866.99",903.53,"3,239.78","1,049.12","4,121.10","4,384.31","20,459.53","65,721.10"
45.00,Cornwall,713.02,971.32,0.00,0.00,255.02,881.98,"1,151.64","1,460.59","1,172.25",0.00,...,410.70,"1,003.40","8,507.63","1,802.87","4,485.59",210.83,0.00,"3,286.44","5,108.22","18,395.05"
46.00,Mid Wales,"1,469.12",373.64,"2,920.52",0.00,"2,704.03","4,389.08",407.14,"1,147.99","2,227.35","2,421.08",...,"5,888,484.13","213,605.84","141,583.07","94,783.92","11,693.01","249,857.14","125,973.19","7,250.03","21,781.57","2,455.90"
47.00,South West Wales,"3,097.99",450.98,"2,951.52","1,924.14","5,396.18",712.68,548.25,933.99,"1,261.93","1,732.80",...,"177,978.61","21,273,229.66","747,499.24","23,078.58","10,066.70","2,359.40","4,819.13","2,829.87","19,421.27","28,904.80"
48.00,South East Wales,"4,028.67","6,442.96",580.98,"6,176.54","3,553.67","5,237.16",790.11,"7,699.33","2,263.78","3,456.58",...,"127,629.53","707,788.79","47,361,582.78","11,728.20","4,612.00","11,879.92","79,526.63","6,248.19","42,927.91","215,858.81"
49.00,North Wales,"14,900.87","16,725.14","3,645.86","1,867.86","5,121.56","5,395.39","2,661.07","1,978.22","2,133.11","2,119.87",...,"57,677.78","18,723.11","9,376.98","21,206,780.51","36,205.55","305,417.97","4,519.89","2,361.60","36,784.79",324.16
50.00,Staffordshire,"19,636.80","15,481.83","7,310.75","7,433.36","864,122.01","62,819.34","17,089.20","201,762.61","10,765.10","6,414.44",...,"7,777.42","5,012.56","1,733.21","43,399.53","32,252,950.85","307,084.33","2,275.13","213,151.94","2,054,846.32","2,537.07"
51.00,Shropshire,"3,907.61","5,756.62",936.86,"2,735.85","9,286.98","5,930.88","6,039.61","11,982.34","4,547.22","3,113.69",...,"106,200.41","1,097.93","1,864.61","211,352.33","263,174.57","14,794,803.11","49,944.62","12,921.63","426,756.55","1,715.69"
52.00,Hereford & Worcester,"1,857.23","4,824.56",193.00,389.42,"1,266.45",670.76,"2,269.51","1,600.26","1,752.10",816.19,...,"58,225.71","5,587.72","50,741.95","4,692.11","1,978.37","57,027.51","5,436,335.99","6,933.17","27,924.38","4,990.18"
53.00,Warwickshire,"10,745.25","8,905.98","2,512.19","6,151.56","32,327.62","27,709.39","5,570.07","609,874.70","185,175.37","7,798.11",...,"3,635.20","1,182.77","2,584.49","3,644.02","208,236.38","11,890.21","7,999.93","14,668,098.32","2,063,548.62","4,007.07"
54.00,West Midlands county,"44,429.09","26,068.53","15,030.62","9,114.41","134,643.79","94,060.49","29,112.79","402,377.69","97,197.92","18,440.82",...,"18,799.35","15,787.48","25,169.65","38,684.46","2,066,285.41","515,318.87","34,831.25","2,089,172.69","82,196,241.93","25,142.48"
55.00,Bristol,"4,118.98","2,093.99","1,570.70","1,939.21","3,755.39","2,879.49",0.00,"9,850.37","2,078.27","2,896.74",...,"3,104.62","21,476.99","208,626.06","2,434.41","4,401.81","3,413.45","10,438.01","7,059.97","40,564.66","25,838,794.64"

In [10]:
# Check for inter-county trips greater than intra-county trips
warnings = []

for origin in pivot_table.index:
    origin_id, origin_name = origin
    intra_county_trip = pivot_table.loc[origin, (origin_id, origin_name)]
    
    for destination in pivot_table.columns:
        dest_id, dest_name = destination
        
        if origin_id != dest_id:
            inter_county = pivot_table.loc[origin, destination]
            if inter_county > intra_county_trip:
                percentage = (inter_county/intra_county_trip)*100 #Calculate percentage of error
                warnings.append(f"Warning: Inter-county trip from {origin_name} to {dest_name} is greater than intra-county trip from {origin_name} to {origin_name} by {percentage:.2f}%.")

# Print warnings if any
if warnings:
    print("\nWarnings:")
    for warning in warnings:
        print(warning)
else:
    print("\nNo warnings.")

No warnings.

### TM001 - Check tour model outputs non-zero

Check that the total in the matrix output file is > 0
Also check each row and column in the output matrix sums to a > 0 value (will cover some of the checks to ensure everything is there too - rest of this check covered by TM010)

In [11]:
dest_col_sums = pivot_table.sum(axis=0)
origin_col_sums = pivot_table.sum(axis=1)
    
try:
    if (dest_col_sums <= 0).any():
        probl_col = pivot_table.columns[dest_col_sums <= 0]
        raise ValueError(f'No value in destination column: {probl_col}')
        
    if (origin_col_sums <= 0).any():
        probl_row = pivot_table.index[origin_col_sums <= 0]
        raise ValueError(f'No value in origin row: {probl_row}')
        
    print('All columns and rows sum to greater than 0')

except ValueError as e:
    print(f'Error: {e}, Column sum: {dest_col_sums}, Row sum: {origin_col_sums}')

All columns and rows sum to greater than 0

### TM002 - Check tour model outputs not negative

Check that no cell in the matrix output is < 0

In [12]:
# Function to check for negative values and raise an error with details
def check_negative_values(pivot_table):
    errors = []
    for r in pivot_table.index:
        for c in pivot_table.columns:
            if pivot_table.at[r, c] < 0:
                origin_id, origin_name = r
                destination_id, destination_name = c
                errors.append(f"Negative value found at Origin: {origin_name} (ID: {origin_id}), Destination: {destination_name} (ID: {destination_id})")

    if errors:
        raise ValueError("Errors found:\n" + "\n".join(errors))

# Run the function to check for negative values
try:
    check_negative_values(pivot_table)
    print('No negative value in model output')
except ValueError as e:
    print(e)

No negative value in model output

### TM003 - Check for NULLs/NaNs in tour model outputs

Check for NULLs/NaNs in tour model outputs

In [13]:
def check_null_values(pivot_table):
    errors = []
    for r in pivot_table.index:
        for c in pivot_table.columns:
            if pd.isnull(pivot_table.at[r, c]):
                origin_id, origin_name = r
                destination_id, destination_name = c
                errors.append(f"Null value found at Origin: {origin_name} (ID: {origin_id}), Destination: {destination_name} (ID: {destination_id})")

    if errors:
        raise ValueError("Errors found:\n" + "\n".join(errors))

# Run the function to check for null values
try:
    check_null_values(pivot_table)
    print('No null value in model output')
except ValueError as e:
    print(e)

No null value in model output

In [14]:
def check_null_values(pivot_table):
    errors = []
    for r in pivot_table.index:
        for c in pivot_table.columns:
            if pd.isna(pivot_table.at[r, c]):
                origin_id, origin_name = r
                destination_id, destination_name = c
                errors.append(f"NaN value found at Origin: {origin_name} (ID: {origin_id}), Destination: {destination_name} (ID: {destination_id})")

    if errors:
        raise ValueError("Errors found:\n" + "\n".join(errors))

# Run the function to check for NaN values
try:
    check_null_values(pivot_table)
    print('No NaN value in model output')
except ValueError as e:
    print(e)

No NaN value in model output

### TM010 - Check zones/sectors in output

Check list of zones/sectors in output against a list of zones we expect to see - will account for any zones/sectors that have been dropped entirely rather than just 0-ed (as tested for by TM001)